---
title: "Home"
layout: default
permalink: /
transparent_header: true
---
<section class="showcase">
  <img width="330" height="330" src="/assets/img/logo.png" alt="" />
  <div class="actions">
    <a href="/inschrijven" class="action highlighted">Lid worden</a>
    <a href="/sjorring" class="action">Onze activiteiten</a>
  </div>
  <svg class="scroll-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M12.78 6.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.22 7.28a.75.75 0 011.06-1.06L8 9.94l3.72-3.72a.75.75 0 011.06 0z"></path></svg>
</section>
<section class="webshop">
  <div class="container">
    <article>
      {% capture c %}{% include content/webshop.md %}{% endcapture %}{{ c | markdownify }}
    </article>
    <div class="actions">
      <a href="https://webshop.scoutsheirbrug.be" target="_blank" class="action highlighted">Naar de webshop</a>
    </div>
    <div class="webshop-images">
      <img src="/assets/img/webshop_trui.png" alt="Groene trui">
      <img src="/assets/img/webshop_tshirt.png" alt="Groene t-shirt">
      <img src="/assets/img/webshop_regenjas.png" alt="Zwarte regenjas">
    </div>
  </div>
</section>
<section class="startdag">
  <div class="container">
    <article>
      {% capture c %}{% include content/startdag.md %}{% endcapture %}{{ c | markdownify }}
    </article>
  </div>
  <div class="startdag-images">
    <img src="/assets/img/startdag_1.jpg" alt="">
    <img src="/assets/img/startdag_2.jpg" alt="">
    <img src="/assets/img/startdag_3.jpg" alt="">
  </div>
</section>
<section class="takken">
  <div class="container">
    {% assign takken = "kapoenen,welpen,jongverkenners,verkenners,jin,leiding,akabe" | split: "," %}
    <h2>Takken</h2>
    {% for tak in takken %}
      <div class="tak">
        <div class="tak-content">
          {% capture c %}{% include content/takken/{{tak}}.md %}{% endcapture %}{{ c | markdownify }}
        </div>
        <div class="tak-image">
          <img src="/assets/img/tak_{{tak}}.jpg" alt="" loading="lazy">
          {% capture c %}{% include content/takken_leiding/{{tak}}.md %}{% endcapture %}{{ c | markdownify }}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<section class="uniform">
  <div class="container">
    <article>
      {% capture c %}{% include content/uniform.md %}{% endcapture %}{{ c | markdownify }}
    </article>
    <img src="/assets/img/uniform.png" />
  </div>
</section>
<section class="groepsadmin">
  <div class="container">
    <nav>
      <a class="step-link active" href="/#individuele-steekkaart"><span>Stap </span>1</a>
      <a class="step-link" href="/#individuele-steekkaart-2"><span>Stap </span>2</a>
      <a class="step-link" href="/#individuele-steekkaart-3"><span>Stap </span>3</a>
      <a class="step-link" href="/#individuele-steekkaart-4"><span>Stap </span>4</a>
      <a class="step-link" href="/#individuele-steekkaart-5"><span>Stap </span>5</a>
    </nav>
    <div class="steps swiper" style="--n: 5;" swiper-for=".groepsadmin nav">
      <div class="step step-content">
        {% capture c %}{% include content/groepsadmin/stap_1.md %}{% endcapture %}{{ c | markdownify }}
      </div>
      <div class="step">
        <div class="step-content">
          {% capture c %}{% include content/groepsadmin/stap_2.md %}{% endcapture %}{{ c | markdownify }}
        </div>
        <img class="step-aside" src="/assets/img/groepsadmin_1.jpg" alt="" loading="lazy">
      </div>
      <div class="step">
        <div class="step-content">
          {% capture c %}{% include content/groepsadmin/stap_3.md %}{% endcapture %}{{ c | markdownify }}
        </div>
        <img class="step-aside" src="/assets/img/groepsadmin_2.jpg" alt="" loading="lazy">
      </div>
      <div class="step step-content">
        {% capture c %}{% include content/groepsadmin/stap_4.md %}{% endcapture %}{{ c | markdownify }}
      </div>
      <div class="step step-content">
        {% capture c %}{% include content/groepsadmin/stap_5.md %}{% endcapture %}{{ c | markdownify }}
      </div>
    </div>
  </div>
</section>
<section class="geschiedenis">
  <div class="container">
    <h2>Scouts Jan Berchmans</h2>
    <hr>
    <article>
      {% capture c %}{% include content/geschiedenis.md %}{% endcapture %}{{ c | markdownify }}
    </article>
    <hr>
  </div>
</section>
<script src="/assets/js/index.js"></script>
<script src="/assets/js/swiper.js"></script>
