---
title: "Lid worden"
layout: default
---
<section class="faqs">
  <div class="container">
    <h2>Veelgestelde vragen</h2>
    {% include faq.html q='Wie kan lid worden?' a='wie-lid-worden' %}
    {% include faq.html q='Kan mijn kind enkele keren komen proberen?' a='proberen' %}
    {% include faq.html q='Waar vind ik meer praktische informatie?' a='praktisch' %}
    {% include faq.html q='Wat zijn de jaarlijkse kosten?' a='kosten' %}
    {% include faq.html q='Wat gebeurt er na het inschrijven?' a='ingeschreven' %}
  </div>
</section>
<section class="inschrijven">
  <div class="container">
    <iframe src="https://groepsadmin.scoutsengidsenvlaanderen.be/groepsadmin/frontend/formulier/lidworden/O3202S" frameborder="0"></iframe>
  </div>
</section>
