---
title: "Verhuur"
layout: default
---
<section class="verhuur">
  <div class="container box">
    {% capture c %}{% include content/verhuur.md %}{% endcapture %}{{ c | markdownify }}
    <hr />
    <h3>Kalender</h3>
    <iframe src="https://embed.styledcalendar.com/#TTRJ2wTDlIpgDqYfVsY0" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
    <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
    {% capture c %}{% include content/verhuur2.md %}{% endcapture %}{{ c | markdownify }}
    <hr />
    <h3>Foto's</h4>
  </div>
  <div class="foto-album-verhuur">
  </div>
</section>
<div class="foto-detail">
</div>
<script src="/assets/js/fotos.js"></script>
