---
title: "Verhuur"
layout: default
---
<section class="verhuur">
  <div class="container box">
    {% capture c %}{% include content/verhuur.md %}{% endcapture %}{{ c | markdownify }}
    <hr />
    <h3>Kalender</h3>
    <iframe src="https://embed.styledcalendar.com/#TTRJ2wTDlIpgDqYfVsY0" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
    <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
    {% capture c %}{% include content/verhuur2.md %}{% endcapture %}{{ c | markdownify }}
    <hr />
    <h3>Foto's</h4>
    <div class="pictures">
      <div class="slidershow">
        <input type="radio" name="control" id="control1" checked>
        <input type="radio" name="control" id="control2">
        <input type="radio" name="control" id="control3">
        <input type="radio" name="control" id="control4">
        <input type="radio" name="control" id="control5">
        <div class="slides beneden swiper" style="--n: 5;" swiper-for=".subnav.beneden">
          <div class="slide"><img src="/assets/img/verhuur/beneden1.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/beneden2.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/beneden3.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/beneden4.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/beneden5.jpg" alt=""></div>
        </div>
        <nav class="subnav beneden" id="controls-beneden"></nav>
        <div class="slides boven swiper" style="--n: 5;" swiper-for=".subnav.boven">
          <div class="slide"><img src="/assets/img/verhuur/boven1.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/boven2.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/boven3.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/boven4.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/boven5.jpg" alt=""></div>
        </div>
        <nav class="subnav boven" id="controls-boven"></nav>
        <div class="slides keuken swiper" style="--n: 2;" swiper-for=".subnav.keuken">
          <div class="slide"><img src="/assets/img/verhuur/keuken1.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/keuken2.jpg" alt=""></div>
        </div>
        <nav class="subnav keuken" id="controls-keuken"></nav>
        <div class="slides sanitair swiper" style="--n: 2;" swiper-for=".subnav.sanitair">
          <div class="slide"><img src="/assets/img/verhuur/sanitair1.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/sanitair2.jpg" alt=""></div>
        </div>
        <nav class="subnav sanitair" id="controls-sanitair"></nav>
        <div class="slides buiten swiper" style="--n: 4;" swiper-for=".subnav.buiten">
          <div class="slide"><img src="/assets/img/verhuur/buiten1.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/buiten2.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/buiten3.jpg" alt=""></div>
          <div class="slide"><img src="/assets/img/verhuur/buiten4.jpg" alt=""></div>
        </div>
        <nav class="subnav buiten" id="controls-buiten"></nav>
      </div>
      <nav class="control">
        <label class="button" for="control1">Beneden</label>
        <label class="button" for="control2">Boven</label>
        <label class="button" for="control3">Keuken</label>
        <label class="button" for="control4">Sanitair</label>
        <label class="button" for="control5">Buiten</label>
      </nav>
    </div>
  </div>
</section>
<script src="/assets/js/swiper.js"></script>
