* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --accent-color: #071d2b;
  --accent-light: #7eb8dd;
}

/* GOBAL */

html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 20px 0 20px;
  font-family: "Playfair Display SC", serif;
  transition: 0.2s ease-in-out;
  background-color: transparent;
  box-shadow: none;
  z-index: 9;
}

header.scrolled {
  background-color: var(--accent-color);
  box-shadow: #000 0px 0px 20px 0px;
}

header a {
  color: #fff;
  filter: drop-shadow(0 0 0.3em #000);
}

header .branding {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: -5px;
  white-space: pre;
}

header .branding img {
  margin-right: 10px;
  height: 50px;
}

header nav {
  height: 65px;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  transition: margin-left 0.2s ease-in-out;
}

header nav li a {
  display: block;
  margin: 5px;
  padding: 13px;
  border-radius: 5px;
}

header nav li a:hover {
  background-color: #fff3;
}

header nav > a {
  position: absolute;
  left: 10px;
  top: 65px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

header nav > a img {
  height: 45px;
  margin: 10px;
}

header nav li.active a {
  font-weight: bold;
  color: var(--accent-light);
}

/* SHOWCASE */

.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../img/kampvuur.jpg) no-repeat center 0;
  font-size: 14px;
  background-size: cover;
  color: #ffffff;
}


.showcase img {
  width: 300px;
  margin: 0 0 20px 0;
}

.showcase .actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.showcase .action {
  width: 230px;
  margin: 10px;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 100px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  filter: drop-shadow(0 0 0.3em #000);
}

.showcase .action.highlighted {
  background: #fff;
  color: #000;
}

/* ABOUT-US */

.about-us {
  min-height: 600px;
  padding: 50px 0px;
  background-color: #f4f4f4;
}

.about-us .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us .eye-catcher {
  position: relative;
  width: 300px;
  flex-basis: 30%;
  min-height: 200px;
  border-top: 10px solid var(--accent-color);
}

.about-us .eye-catcher h3 {
  position: absolute;
  top: 10px;
  text-align: center;
  font-size: 36px;
}

.about-us .articles {
  flex-basis: 70%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}

.about-us .articles article {
  width: 33%;
  padding: 20px;
  text-align: justify;
}

.about-us .articles article h4 {
  font-size: 16px;
  padding: 5px 0;
}

/* SECTIONS */

section {
  padding: 80px 10px 10px 10px;
}

section + section {
  padding-top: unset;
}

section ul,
section p {
  padding-bottom: 15px;
}

section ul {
  padding-left: 25px;
}

section h2 {
  margin-top: 25px;
  font-weight: normal;
}

section h2::after {
  content: "";
  display: block;
  width: 100%;
  margin: 4px 0 14px 0;
  border-bottom: 2px dashed;
}

section img {
  max-width: 100%;
}

section embed {
  width: 100%;
  height: calc(100vh - 65px);
}

.slideshow {
  height: 400px;
}

.takken {
  height: 550px;
  background-color: #060d11;
}

/* GROEPSADMIN */

.groepsadmin {
  padding: 20px 0;
  background-color: #263741;
  color: #fff;
}

.groepsadmin .container {
  overflow: hidden;
}

.groepsadmin .steps {
  width: 500%;
  height: 100%;
  display: flex;
}

.groepsadmin .step {
  width: 20%;
  height: 100%;
  transition: 0.6s;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  text-align: justify;
}

.groepsadmin .step.step-content {
  display: unset;
}

.groepsadmin .step .step-content {
  width: 100%;
}

.groepsadmin .step h3 {
  padding-bottom: 10px;
}

.groepsadmin .step a:not(.step-link) {
  color: var(--accent-light);
}

.groepsadmin .step em {
  font-weight: bold;
  font-style: normal;
}

.groepsadmin .step .step-aside {
  width: 30%;
  margin-left: 10px;
}

.groepsadmin nav {
  display: flex;
  justify-content: center;
}

.groepsadmin .step-link {
  width: 80px;
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 0 4px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  filter: drop-shadow(0 0 0.3em #000);
  transition: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.groepsadmin .step-link.active,
.groepsadmin .step-link:hover {
  background: #fff;
  font-weight: bold;
  color: #000;
}

.groepsadmin .step-link-large {
  width: 120px;
  font-size: 17px;
  padding: 2px 10px;
  margin-left: 0;
  border-width: 3px;
}

.ga-btn {
  white-space: nowrap;
  padding: 4px 8px;
  margin: 0 6px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ga-btn svg {
  fill: currentColor;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: -1.5px;
}

.ga-steekkaart {
  color: #fff;
  background-color: #748d26;
  border: 1px solid #637921;
}

.ga-opslaan {
  color: #fff;
  background-color: #f0750b;
}

.ga-registratie {
  height: 50px;
  color: #bdd732;
  border: 3px solid;
  border-radius: 131px;
}

.sjorring {
  padding: 65px 0 0 0;
  color: #fff;
}

.inschrijven {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inschrijven iframe {
  width: 100%;
  height: 1780px;
}

.contact em {
  font-weight: bold;
  font-style: normal;
}

/* Small */
@media screen and (max-width: 740px) {
  .container {
    width: 90%;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  header.scrolled {
    top: -65px;
  }

  header.scrolled nav > a {
    opacity: 1;
  }

  header.scrolled nav ul {
    margin-left: 40px;
  }

  .showcase img {
    width: 250px;
  }

  .showcase .actions {
    flex-direction: column;
  }

  .inschrijven iframe {
    height: 1900px;
  }

  .about-us .articles article {
    width: 50%;
  }

  .groepsadmin .step {
    display: unset;
  }

  .groepsadmin .step .step-content {
    padding-bottom: 20px;
  }

  .groepsadmin .step .step-aside {
    width: 100%;
    margin-left: unset;
  }

  .groepsadmin .step-content a:not(.step-link) {
    font-size: 13px;
  }

  .groepsadmin .step-link span {
    display: none;
  }

  .groepsadmin nav .step-link {
    width: 60px;
  }
}

/* Large */
@media screen and (min-width: 980px) {
  .inschrijven iframe {
    height: 1410px;
  }

  .about-us .container {
    flex-direction: row;
  }

  .about-us .eye-catcher {
    height: 300px;
    border-top: none;
    border-left: 10px solid var(--accent-color);
  }

  .about-us .eye-catcher h3 {
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: unset;
  }

  .about-us .articles article {
    width: 50%;
  }
}

/* Extra Large */
@media screen and (min-width: 1160px) {
  .about-us .articles article {
    width: 33%;
  }
}
