* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --accent-1: #163A1C;
  --accent-2: #354435;
  --accent-3: #2a6d34;
  --accent-4: #b4d8a2;
  --accent-5: #cad3c3;
}

/* GOBAL */

html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

.verhuur .container,
.contact .container {
  max-width: 800px;
}

a {
  text-decoration: none;
}

.noscroll {
  overflow: hidden;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 20px 0 20px;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Playfair Display SC", serif; */
  transition: 0.2s ease-in-out;
  background-color: transparent;
  box-shadow: none;
  z-index: 9;
}

header.scrolled {
  background-color: var(--accent-1);
  box-shadow: #000 0px 0px 20px 0px;
}

header a {
  color: #fff;
  filter: drop-shadow(0 0 0.3em #000);
}

header .branding {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: -5px;
  white-space: pre;
}

header .branding img {
  margin-right: 10px;
  height: 50px;
}

header nav {
  height: 65px;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  transition: margin-left 0.2s ease-in-out;
}

header nav li a {
  display: block;
  margin: 5px;
  padding: 13px;
  border-radius: 5px;
}

header nav li a:hover {
  background-color: #fff3;
}

header nav > a {
  position: absolute;
  left: 10px;
  top: 65px;
  opacity: 0;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

header nav > a img {
  height: 45px;
  margin: 10px;
}

header nav li.active a {
  font-weight: bold;
  color: var(--accent-4);
}

/* FOOTER */

footer {
  padding: 20px 10px 10px;
  background-color: var(--accent-1);
  color: #fff;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .footer-info {
  display: flex;
}

footer a {
  color: var(--accent-4);
}

footer .footer-info img {
  margin-right: 10px;
}

footer .footer-credits {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  color: var(--accent-5);
}

footer .footer-links a {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

footer .footer-links svg {
  fill: var(--accent-4);
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* POPOVER */

.popover {
  display: flex;
  position: fixed;
  right: 10px;
  bottom: 10px;
  max-width: 30vw;
  z-index: 5;
  padding: 6px;
  border-radius: 6px;
  background-color: #171717;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s, background-color 0.2s;
  opacity: 0;
  pointer-events: none;
}

.popover.visible {
  opacity: 1;
  pointer-events: inherit;
}

.popover > img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.popover > span {
  margin-top: 3px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.popover:hover {
  background-color: #242424;
}

.popover-dismiss {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: #000;
  border: 1px solid #fff;
  border-radius: 9999px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.popover:hover .popover-dismiss {
  opacity: 0.4;
}

.popover .popover-dismiss:hover {
  opacity: 1;
}

/* SHOWCASE */

.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../img/kampvuur.jpg) no-repeat center 0;
  font-size: 14px;
  background-size: cover;
  color: #ffffff;
}

.showcase img {
  width: 300px;
  height: auto;
  margin: 0 0 20px 0;
  filter: drop-shadow(0 0 1rem #000);
}

.showcase .actions,
.webshop .actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.showcase .action,
.webshop .action {
  width: 230px;
  margin: 10px;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 100px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  filter: drop-shadow(0 0 0.3em #000);
}

.showcase .action.highlighted,
.webshop .action {
  background: #fff;
  color: #000;
}

.showcase .scroll-icon {
  position: relative;
  width: 32px;
  height: 32px;
  fill: #fff;
  filter: drop-shadow(0 0 0.3em #000);
  animation: 1s ease-in-out 0.5s infinite alternate bobbing;
  transition: opacity ease-in-out 0.2s;
}

.showcase .scroll-icon.scrolled {
  opacity: 0;
}

@keyframes bobbing {
  from { top: 0; }
  to { top: 10px; }
}

/* ABOUT-US */

.about-us {
  padding: 50px 0px;
  background-color: #f4f4f4;
}

.about-us .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us .eye-catcher {
  position: relative;
  width: 300px;
  flex-basis: 30%;
  min-height: 200px;
  border-top: 10px solid var(--accent-1);
}

.about-us .eye-catcher h3 {
  position: absolute;
  top: 10px;
  text-align: center;
  font-size: 36px;
}

.about-us .articles {
  flex-basis: 70%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}

.about-us .articles article {
  width: 33%;
  padding: 20px;
  text-align: justify;
}

.about-us .articles article h4 {
  font-size: 16px;
  padding: 5px 0;
}

/* INSCHRIJVEN */

.inschrijven .container {
  max-width: 900px;
}

/* UNIFORM */

.uniform {
  padding-top: 40px;
  padding-bottom: 25px;
}

.uniform .container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.uniform article {
  text-align: justify;
  margin: 0px 10px;
}

.uniform article h3 {
  padding-bottom: 10px;
}

.uniform img {
  width: 400px;
  height: 100%;
  margin: 15px;
  border-radius: 20px;
}

/* VERHUUR */

.verhuur {
  padding: 80px 0 60px 0;
}

.verhuur .container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.faq a,
.box a:not(.button),
.startdag a {
  color: var(--accent-3);
  fill: currentColor;
  text-decoration: underline;
}

.button {
  margin: 15px auto 0;
  display: block;
  padding: 5px;
  border-radius: 50px;
  transition: 0.4s;
  width: 56%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: var(--accent-1);
  text-decoration: none;
}

.button:hover {
  background-color: var(--accent-3);
}

/* CONTACT */

.contact {
  padding: 100px 0 35px 0;
}

/* GESCHIEDENIS */

.geschiedenis {
  padding: 45px 0;
}

.geschiedenis h2 {
  font-family: "Chomsky";
  padding: 5px;
  text-align: center;
  font-size: 72px;
}

.geschiedenis hr {
  width: 100%;
  margin: 10px 0;
  border: none;
  border-bottom: 10px solid var(--accent-1);
}

.geschiedenis article {
  columns: 4 200px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.geschiedenis p {
  font-size: 12px;
  text-align: justify;
  padding: 4px 8px;
}

.geschiedenis p:first-child {
  padding: 6px 8px;
  font-style: italic;
  font-weight: bold;
  color: #333333;
}

/* BOX */

.box {
  margin-bottom: 35px;
}

.box h2 {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 5px;
  font-size: 32px;
}

.box h3 {
  text-align: center;
  padding: 15px 0 0 0;
}

.box p {
  padding: 10px 25px;
  text-align: justify;
}

.box hr {
  width: 80%;
  margin: 15px auto 5px;
  border: none;
  border-bottom: 2px solid #dcdcdc;
}

.box ul {
  margin: 0;
  margin-left: 5%;
}

.box iframe {
  display: block; 
  padding: 10px 25px;
  width: 100%;
  height: 400px;
}

.box > *:last-child:not(div):not(iframe) {
  padding-bottom: 12px;
}

/* WEBSHOP */

.webshop {
  padding: 0;
  background-color: var(--accent-2);
  color: #fff;
}

.webshop article {
  padding-top: 20px;
}

.webshop h2 {
  padding-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.webshop ul {
  padding-left: 45px;
}

.webshop p {
  padding: 5px 20px 5px;
}

.webshop-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.webshop-images img {
  border-radius: 8px;
  background: linear-gradient(#f5f5f5, #b8b8b8);
}

@media screen and (max-width: 600px) {
  .webshop-images {
    grid-template-columns: 1fr;
  }

  .webshop-images img:not(:first-child) {
    display: none;
  }
}

/* STARTDAG */
.startdag {
  padding: 0;
}

.startdag article {
  padding-top: 20px;
}

.startdag h2 {
  padding-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.startdag h3 {
  padding: 0 20px 10px;
  color: hsl(0, 0%, 27%);
  font-weight: normal;
}

.startdag p {
  padding: 5px 20px 5px;
}

.startdag-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.startdag-images img {
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .startdag-images {
    grid-template-columns: 1fr;
  }
}

/* TAKKEN */

.takken {
  padding: 20px 0;
  background-color: var(--accent-2);
  color: #fff;
}

.takken .container {
  overflow-x: hidden;
}

.takken h2 {
  padding: 20px;
  text-align: center;
}

.takken .tak {
  display: flex;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  text-align: justify;
  align-items: start;
}

.takken .tak .tak-content {
  width: 100%;
  flex-basis: 2;
}

.takken .tak:nth-child(odd) {
  flex-direction: row-reverse;
}

.takken .tak .tak-image {
  flex-basis: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 33%;
  height: 100%;
}

.takken .tak .tak-image-placeholder {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  background-color: var(--accent-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.takken .tak .tak-image img {
  display: block;
  border-radius: 8px;
}

.takken .tak:nth-child(odd) .tak-image {
  margin-right: 10px;
  margin-left: 0;
}

.takken .tak .tak-image p {
  color: var(--accent-5);
  margin-top: 4px;
  text-align: center;
}

/* SECTIONS */

section {
  padding: 80px 10px 10px 10px;
}

section + section {
  padding-top: unset;
}

section ul,
section p {
  padding-bottom: 15px;
}

section ul {
  padding-left: 25px;
}

section img {
  max-width: 100%;
}

section embed {
  width: 100%;
  height: calc(100vh - 65px);
}

.slideshow {
  height: 400px;
}

/* SWIPER */
.swiper {
  --i: 0;
  display: flex;
  width: calc(var(--n) * 100%);
  transform: translate(calc(var(--i, 0) / var(--n) * -100%));
  transition: transform 0.5s ease-out;
}

.swiper > * {
  width: calc(100% / var(--n));
}

.swiper img {
  pointer-events: none;
}

/* GROEPSADMIN */

.groepsadmin {
  padding: 20px 0;
  background-color: var(--accent-2);
  color: #fff;
}

.groepsadmin .container {
  overflow-x: hidden;
}

.groepsadmin .steps {
  height: 100%;
}

.groepsadmin .step {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  text-align: justify;
}

.groepsadmin .step.step-content {
  display: unset;
}

.groepsadmin .step .step-content {
  width: 100%;
}

.groepsadmin .step .step-content p:last-child {
  padding-bottom: 0;
}

.groepsadmin .step h3 {
  padding-bottom: 10px;
}

.groepsadmin .step a:not(.step-link) {
  color: var(--accent-4);
  text-decoration: underline;
}

.groepsadmin .step .step-aside {
  width: 30%;
  margin-left: 10px;
}

.groepsadmin nav {
  display: flex;
  justify-content: center;
}

.groepsadmin .step-link {
  width: 80px;
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 0 4px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  filter: drop-shadow(0 0 0.3em #000);
  transition: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.groepsadmin .step-link.active,
.groepsadmin .step-link:hover {
  background: #fff;
  font-weight: bold;
  color: #000;
}

.groepsadmin .step-link-large {
  width: 120px;
  font-size: 17px;
  padding: 2px 10px;
  margin-left: 0;
  border-width: 3px;
}

.ga-btn {
  white-space: nowrap;
  padding: 4px 8px;
  margin: 0 6px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ga-btn svg {
  fill: currentColor;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: -1.5px;
}

.ga-steekkaart {
  color: #fff;
  background-color: #748d26;
  border: 1px solid #637921;
}

.ga-opslaan {
  color: #fff;
  background-color: #f0750b;
}

.ga-registratie {
  height: 50px;
  color: #bdd732;
  border: 3px solid;
  border-radius: 131px;
}

.sjorring {
  padding: 65px 0 0 0;
  background-color: var(--accent-2);
  display: flex;
  justify-content: center;
}

.sjorring ~ footer {
  display: none;
}

.sjorring iframe {
  width: 100%;
  min-height: calc(100vh - 65px);
}

.sjorring-menu {
  padding: 110px 0 0 0;
  background-color: var(--accent-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 179px);
}

.sjorring-menu a {
  color: var(--accent-4);
  display: block;
  padding: 8px 12px;
  font-size: 16px;
  background-color: var(--accent-1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  margin-bottom: 16px;
}

.inschrijven {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inschrijven iframe {
  width: 100%;
  height: 1780px;
}

.foto-album-list {
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  display: none;
}

.foto-album-list.visible {
  display: flex;
}

.foto-album-list a {
  color: #000;
  margin: 4px 4px 16px;
}

.foto-album-list .thumb {
  width: 256px;
  height: 256px;
  background-size: cover;
  border-radius: 8px;
}

.foto-album-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.foto-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  max-width: unset;
  width: 100%;
}

.foto {
  position: relative;
  flex-basis: calc(25% - 4px);
  margin: 2px;
  cursor: pointer;
}

.foto::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.foto img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: #d6d6d6;
}

.foto-detail {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: calc(100% - 65px);
  padding: 8px;
  display: none;
  background-color: #000c;
  justify-self: center;
  align-items: center;
}

.foto-detail.active {
  display: flex;
}

.foto-detail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.faq {
  margin-top: 1rem;
}

.faq summary {
  border-bottom: 1px solid #d8d8d8;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.faq summary:hover, .faq[open] summary {
  background-color: #ececec;
}

.faq[open] summary {
  margin-bottom: 0.5rem;
}

.faq p:last-child {
  padding-bottom: 0;
} 

.faq em {
  font-weight: bold;
  font-style: normal;
}

.faq span {
  font-size: small;
  font-style: italic;
  color: #444;
}


/* BBQ */
.showcase.bbq {
  margin-top: 60px;
  margin-bottom: 20px;
  height: 20vw;
  min-height: 40vh;
}

.bbq {
  background-image: url(../img/bbq.jpg);
}

.action.bbq {
  background-size: cover;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 0 8px #000;
}

.bbq h2 {
  font-size: 26px;
  filter: drop-shadow(0 0 1rem #000);
}

.bbq h4 {
  margin: 0 0 20px 0;
  font-weight: normal;
  filter: drop-shadow(0 0 1rem #000);
}

.bbq-info {
  padding: 20px 0;
}

/* Small */
@media screen and (max-width: 740px) {
  .container {
    width: 90%;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  header.scrolled {
    top: -65px;
  }

  header.scrolled nav > a {
    opacity: 1;
    pointer-events: initial;
  }

  header.scrolled nav ul {
    margin-left: 40px;
  }

  header nav li a {
    margin: 3px;
    padding: 9px;
  }

  footer .container {
    flex-direction: column;
  }

  footer ul {
    padding: 20px;
  }

  .popover {
    max-width: 60vw;
  }

  .showcase img {
    width: 250px;
    height: auto;
  }

  .showcase .actions {
    flex-direction: column;
  }

  .inschrijven iframe {
    height: 1900px;
  }

  .about-us .articles article {
    width: 50%;
  }

  .takken .tak {
    flex-direction: column !important;
    align-items: center;
  }

  .takken .tak .tak-image {
    max-width: 300px;
  }

  .groepsadmin .step {
    flex-direction: column;
  }

  .groepsadmin .step .step-content {
    padding-bottom: 20px;
  }

  .groepsadmin .step .step-aside {
    width: 100%;
    margin-left: unset;
  }

  .groepsadmin .step-content a:not(.step-link) {
    font-size: 13px;
  }

  .groepsadmin .step-link span {
    display: none;
  }

  .groepsadmin nav .step-link {
    width: 60px;
  }

  .takken .tak {
    flex-direction: column;
  }

  .foto-list {
    margin: 0 -12px;
    width: calc(100% + 24px);
  }
}

/* Extra Small */
@media screen and (max-width: 410px) {
  .container {
    width: 95%;
  }

  header {
    font-size: 75%;
  }

  header nav li a {
    margin: 3px;
    padding: 5px;
  }

  .popover {
    max-width: 80vw;
  }

  .geschiedenis h2 {
    font-size: 56px;
  }
}

/* Large */
@media screen and (min-width: 980px) {
  .inschrijven iframe {
    height: 1410px;
  }

  .about-us .container {
    flex-direction: row;
  }

  .about-us .eye-catcher {
    height: 300px;
    border-top: none;
    border-left: 10px solid var(--accent-1);
  }

  .about-us .eye-catcher h3 {
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: unset;
  }

  .about-us .articles article {
    width: 50%;
  }

  .uniform .container {
    flex-direction: row;
  }

  .uniform img {
    width: 40%;
  }

  .foto-list {
    max-width: unset;
    width: 80%;
    margin: 0 auto;
  }

  .foto {
    flex-basis: calc(20% - 4px);
  }
}

/* Extra Large */
@media screen and (min-width: 1160px) {
  .about-us .articles article {
    width: 33%;
  }

  .foto {
    flex-basis: calc(16.666% - 4px);
  }
}

@font-face {
  font-family: "Chomsky";
  src: url(/assets/fonts/Chomsky.woff);
}
