* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GOBAL */

body {
  background-color: var(--light);
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.container {
  width: 85%;
  margin: auto;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 20px 0 20px;
  font-family: "Playfair Display SC", serif;
  transition: 0.2s ease-in-out;
  background-color: transparent;
  box-shadow: none;
}

header.scrolled {
  background-color: #071d2b;
  box-shadow: #000 0px 0px 20px 0px;
}

header a {
  color: #fff;
  filter: drop-shadow(0 0 0.3em #000);
}

header .branding {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: -5px;
  white-space: pre;
}

header .branding img {
  margin-right: 10px;
  height: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  transition: margin-left 0.2s ease-in-out;
}

nav li a {
  display: block;
  margin: 5px;
  padding: 13px;
  border-radius: 5px;
}

nav li a:hover {
  background-color: #fff3;
}

nav > a {
  position: absolute;
  left: 10px;
  top: 65px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

nav > a img {
  height: 34px;
  margin: 10px;
}

/* SHOWCASE */

.showcase {
  height: 100vh;
  background: url(../img/kampvuur.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  font-family: "Playfair Display SC", serif;
}

/* SECTIONS */

.slideshow {
  height: 400px;
  background-color: #b4b0ae;
}

.takken {
  height: 550px;
  background-color: #060d11;
}

.uniform {
  height: 450px;
  background-color: #ac3100;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header.scrolled {
    top: -65px;
  }

  header.scrolled nav > a {
    opacity: 1;
  }

  header.scrolled nav ul {
    margin-left: 40px;
  }
}
