<!DOCTYPE html>
<html lang="nl" {% if page.no_scroll == true %}style="overflow-y: hidden;"{% endif %}>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | Scouts Heirbrug</title>
  <link rel="icon" href="/assets/img/icon.png" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" />
</head>

<body>
  <header {% if page.transparent_header != true %}class="scrolled"{% endif %}>
    <a class="branding" href="/">
      <img width="50" height="50" src="/assets/img/logo.svg" alt="" />
      <h1>Scouts Heirbrug</h1>
    </a>
    <nav>
      <a href="/">
        <img width="45" height="45" src="/assets/img/logo.svg" alt="" />
      </a>
      <ul>
        <li {% if page.url == '/sjorring/' %}class="active"{%endif%}>
          <a href="/sjorring">Sjorring</a>
        </li>
        <li {% if page.url == '/verhuur/' %}class="active"{%endif%}>
          <a href="/verhuur">Verhuur</a>
        </li>
        <li {% if page.url == '/contact/' %}class="active"{%endif%}>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  {{ content }}
</body>

</html>
