<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | Scouts Heirbrug</title>
  <link rel="icon" href="/assets/img/icon.png" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <header>
    <a class="branding" href="/">
      <img src="/assets/img/logo.svg" alt="" />
      <h1>Scouts Heirbrug</h1>
    </a>
    <nav>
      <a href="/">
        <img src="/assets/img/logo.svg" alt="" />
      </a>
      <ul>
        <li><a href="/sjorring">Sjorring</a></li>
        <li><a href="/verhuur">Verhuur</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  {{ content }}
  <script src="/assets/js/script.js"></script>
</body>

</html>
