<!DOCTYPE html>
<html lang="nl" {% if page.no_scroll == true %}style="overflow-y: hidden;"{% endif %}>

<head>
  {% include google_analytics.html %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | Scouts Heirbrug</title>
  <link rel="icon" href="/assets/img/icon.png" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" />
  {% if page.pdf %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js" integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ==" crossorigin="anonymous"></script>
  {%endif%}
</head>

<body>
  <header {% if page.transparent_header != true %}class="scrolled"{% endif %}>
    <a class="branding" href="/">
      <img width="50" height="50" src="/assets/img/logo.svg" alt="" />
      <h1>Scouts Heirbrug</h1>
    </a>
    <nav>
      <a href="/">
        <img width="45" height="45" src="/assets/img/logo.svg" alt="" />
      </a>
      <ul>
        <li {% if page.url contains '/sjorring/' %}class="active"{%endif%}>
          <a href="/sjorring">Sjorring</a>
        </li>
        <li {% if page.url == '/verhuur/' %}class="active"{%endif%}>
          <a href="/verhuur">Verhuur</a>
        </li>
        <li {% if page.url contains '/fotos/' %}class="active"{%endif%}>
          <a href="/fotos">Foto's</a>
        </li>
        <li {% if page.url == '/contact/' %}class="active"{%endif%}>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  {{ content }}
  {% if page.no_scroll != true %}
  <footer>
    <div class="container">
      <div class="footer-info">
        <img width="60" height="60" src="/assets/img/logo.svg" alt="">
        <div>
          <h2>Scouts Jan Berchmans</h2>
          <p>Veerstraat 14, 9160 Lokeren</p>
          <p><a href="mailto:leiding@scoutsheirbrug.be">leiding@scoutsheirbrug.be</a></p>
        </div>
      </div>
      <ul class="footer-links">
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/privacy">Privacyverklaring</a>
        </li>
      </ul>
    </div>
    <div class="footer-credits container">
      <p>Ontwikkeld door Miro Stuyven & Timon Van Poucke</p>
    </div>
  </footer>
  {% endif %}
</body>

</html>
